BIG_QUERY_SERVICE_ACCOUNT_KEY_PATH="$PWD/big-query-service-account-key"
BIG_QUERY_PROJECT_ID="$(bo show credential concourse-main data-science.event-aggregator big-query-project-id)"
BIG_QUERY_DATASET="$(bo show credential concourse-main data-science.event-aggregator big-query-dataset)"
BIG_QUERY_LOAD_VIA_BUCKET="$(bo show credential concourse-main data-science.event-aggregator big-query-load-via-bucket)"

bo show credential concourse-main data-science.event-aggregator big-query-service-account-key > "$BIG_QUERY_SERVICE_ACCOUNT_KEY_PATH"

export BIG_QUERY_SERVICE_ACCOUNT_KEY_PATH
export BIG_QUERY_PROJECT_ID
export BIG_QUERY_DATASET
export BIG_QUERY_LOAD_VIA_BUCKET

{
  echo BIG_QUERY_SERVICE_ACCOUNT_KEY_PATH="$BIG_QUERY_SERVICE_ACCOUNT_KEY_PATH"
  echo BIG_QUERY_PROJECT_ID="$BIG_QUERY_PROJECT_ID"
  echo BIG_QUERY_DATASET="$BIG_QUERY_DATASET"
  echo BIG_QUERY_LOAD_VIA_BUCKET="$BIG_QUERY_LOAD_VIA_BUCKET"
} > .env


